.btn-signin {
    max-width: 200px; /* Maximal bredd på 200 pixlar */
    width: 100%; /* Tar upp all tillgänglig bredd */
    background-color: #0094ff;
    margin-right: auto;
    }


.form {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5; 
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 400px;
    margin-right: 400px;
}
