.h1-booking {
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.red-button {
    max-width: 150px;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(0,0,0,1) 100%);
    border-color: rgb(205, 0, 0);
    border-radius: 50px; 
    height: 25px; 
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.red-button:hover {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(0,0,0,1) 100%);
}

.green-button {
    max-width: 150px;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,255,0,1) 50%, rgba(0,0,0,1) 100%);
    border-color: green; 
    border-radius: 50px; 
    height: 25px; 
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.green-button:hover {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,255,0,1) 50%, rgba(0,0,0,1) 100%);
}

.finish {
  width: 500px;
  height: 300px;
}

.custom-modal-container {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,255,0,1) 50%, rgba(0,0,0,1) 100%);
}

.p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    margin-top: 115px;
    margin-bottom: 50px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.btn-succes {
    max-width: 150px;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,255,0,1) 50%, rgba(0,0,0,1) 100%);
    border-color: green; 
    border-radius: 50px; 
    height: 25px; 
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.pay-container {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(108,108,108,1) 50%, rgba(0,0,0,1) 100%);
}

.pay {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,117,255,1) 50%, rgba(0,0,0,1) 100%);   max-width: 150px;
    width: 100%;
    margin-right: auto;
    margin-left: auto; 
    border-radius: 50px; 
    height: 25px; 
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.pay-text {
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.swish {
    height: 50px;
    width: 50px;
}

.paypal {
    height: 50px;
    width: 50px;
}

.mastercard {
    height: 50px;
    width: 50px;
}

.swish, .paypal, .mastercard {
    width: 50px;
    height: auto; 
    margin: 10px;
  }
  
.pay-logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
}

.pay-logo label {
    display: flex;
  flex-direction: column;
  align-items: center;
  }
  
.pay-logo img {
    max-width: 100%; 
  }


.pay-logo input[type="radio"]:checked {
    background-color: black;
    border-color: black;
  }

.pay-logo input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    outline: none;
    margin-right: 5px; 
  }

  .container-b {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 100px;
    gap: 16px;
    justify-content: center;
  }
  
  .img-booking {
    margin-bottom: 10px;
  }
  
  .img-booking img {
    width: 100%; 
    max-width: 190px; 
    height: 200px;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 15px;
  }

  .booking-details {
    border-radius: '16px'; 
    color: '#fff';
  }
  

  @media (max-width: 768px) {
    .h1-booking {
      width: 90%;
      font-size: 18px;
      margin-top: 30px;
      margin-bottom: 20px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  
    .container-b {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 auto;

    }
  
    .img-booking img {
      max-width: 300px;
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  
    .booking-details {
      width: 100%; 
      max-width: 300px; 
      margin: 0 auto;
    }


  }
  

