.h1-detail {
  font-size: 20px;
  color: rgb(255, 255, 255);
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.btn-detail {
  max-width: 150px;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,255,0,1) 50%, rgba(0,0,0,1) 100%);
  margin-right: auto;
  margin-left: auto; 
  border-radius: 50px; 
  border-color: black;
  height: 25px; 
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.card-detailbody {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrera horisontellt */
    height: 100%; /* Fyll höjden av card-body */
  }

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrera horisontellt */
  }
  
  .card-detailbody {
    color: #fff;
  }
  
  .image-container {
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }
  
  .card1 {
    width: 50%; /* Anpassa bredden efter dina önskemål */
    margin-bottom: 20px; /* Lägg till mellanrum mellan card1 och de andra korten */
    border-radius: 10px;
  }
  
  .small-images {
    display: flex;
    flex-wrap: wrap; /* Tillåt ombrytning för att skapa rader */
    justify-content: space-between;
  }
  
  .card2,
  .card3,
  .card4,
  .card5 {
    width: 48%; /* Anpassa bredden efter dina önskemål och lägg till lite marginal */
    margin-bottom: 10px; /* Justera mellanrummet mellan små bilder */
    border-radius: 10px;
  }

  .title-detail{
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }

  p, br {
    font-size: 14px;
    color: rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 30px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }

  .form-date {
    height: 20px;
    width: 90px;
    border-radius: 50px;
  }
  